In [ ]:
import pandas as pd

from util import Pipeline

p = Pipeline('configs')

In [ ]:
ofm2019 = p.get_table('ofm_estimates_2019')
ofm2019_id = p.get_id_col('ofm_estimates_2019')

In [ ]:
ofm2020 = p.get_table('ofm_estimates_2020')
ofm2020_id = p.get_id_col('ofm_estimates_2020')

,geoid20,geometry,control_id,control_na,county_id
0,530330001011000,POINT (1281873.778 270709.813),2,Seattle,33
1,530330001011001,POINT (1281545.53 270055.669),2,Seattle,33
2,530330001011002,POINT (1281546.371 269387.462),2,Seattle,33
3,530330001011003,POINT (1281872.347 269380.026),2,Seattle,33
4,530330001011004,POINT (1281873.03 270046.017),2,Seattle,33
...,...,...,...,...,...
54481,530530729092136,POINT (1196496.596 -3658.612),403,JBLM,53
54482,530530729092180,POINT (1205487.066 -5302.44),403,JBLM,53
54483,530530729092153,POINT (1205312.725 -6951.189),403,JBLM,53
54484,530530732003056,POINT (1272479.904 -66212.288),124,Pierce Rural,53
54485,530330327063138,POINT (1496661.759 154597.749),301,King Rural Ag & Resource,33

In [ ]:
p.settings['ElmerGeo']

In [ ]:
blk