In [69]:
import pandas as pd

from util import Pipeline

p = Pipeline('configs')

In [72]:
ofm_prev = p.get_table('ofm_estimates_prev_year_by_control_area')

In [73]:
ofm_dec = p.get_table('ofm_estimates_census_year_by_control_area')

In [70]:
dec = p.get_table('decennial_by_control_area')

In [76]:
ofm_dec

,control_id,housing_units,occupied_housing_units,group_quarters_population,household_population
0,1,25653.389015,24823.992023,1011.000000,63433.102854
1,2,171052.697040,161487.045974,7951.874976,361567.847057
2,3,15209.444969,14375.112970,382.000000,38902.717894
3,4,8082.601011,7701.966983,76.000000,18862.424107
4,5,10398.697010,9966.016017,260.000000,27291.153029
...,...,...,...,...,...
149,304,6917.268024,6199.146985,34.000000,17504.874978
150,401,16.519000,16.246000,969.242000,46.193999
151,402,780.474006,734.398016,948.325012,2414.855987
152,403,2053.699982,1877.110994,3147.003981,6556.141071
153,404,121.999002,115.921999,0.000000,270.769005

In [56]:
blk.dtypes

geoid20       int64
control_id    int64
dtype: object

In [53]:
dec = p.get_table('dec_block_data')

In [58]:
df = dec.merge(blk, left_on='geoid', right_on=block_id, how='outer')

In [63]:
dec_cols = list(p.settings['census_variables'].keys())

In [67]:
df.groupby('control_id').sum()[dec_cols].astype(int).reset_index()

     control_id  total_population  housing_units  households  group_quarters
0             1            151854          64688       60953            1440
1             2            737015         368308      345627           29918
2             3             77245          28050       27057             916
3             4             28956          12682       12006             289
4             5             52066          20785       19874             518
..          ...               ...            ...         ...             ...
150         304             17987           7631        6473              67
151         401              3712             55          38            3532
152         402              5463           1153        1025            1886
153         403             24089           5394        4510            8278
154         404               741             39          38             618

[155 rows x 5 columns]

In [54]:
dec.dtypes

geoid                 int64
total_population    float64
housing_units       float64
households          float64
group_quarters      float64
dtype: object