In [ ]:
import pandas as pd

from util import Pipeline

p = Pipeline('configs')

In [ ]:
base_year = p.settings['base_year']

In [109]:
df = p.get_table('ofm_estimates_2020_by_control_area')

In [111]:
df

,control_id,ofm_units,ofm_hh,ofm_gq,ofm_hhpop,ofm_total_pop
0,1,25653.389015,24823.992023,1011.000000,63433.102854,64444.102854
1,2,171052.697040,161487.045974,7951.874976,361567.847057,369519.722033
2,3,15209.444969,14375.112970,382.000000,38902.717894,39284.717894
3,4,8082.601011,7701.966983,76.000000,18862.424107,18938.424107
4,5,10398.697010,9966.016017,260.000000,27291.153029,27551.153029
...,...,...,...,...,...,...
149,304,6917.268024,6199.146985,34.000000,17504.874978,17538.874978
150,401,16.519000,16.246000,969.242000,46.193999,1015.435999
151,402,780.474006,734.398016,948.325012,2414.855987,3363.180999
152,403,2053.699982,1877.110994,3147.003981,6556.141071,9703.145051
153,404,121.999002,115.921999,0.000000,270.769005,270.769005

    target_id  start  horizon  unit_chg  unit_chg_adj
0           1   2019     2044     35000         34580
1           2   2019     2044    112000        109453
2           3   2019     2044     12000         11996
3           4   2019     2044      5800          5457
4           5   2019     2044      7500          7428
5           6   2019     2044     11260         11216
6           7   2019     2044      3500          3094
7           8   2019     2044     10200         10065
8           9   2019     2044     13200         12869
9          10   2019     2044     20000         19826
10         11   2019     2044     17000         17000
11         12   2019     2044      5900          5861
12         13   2019     2044      6500          6352
13         14   2019     2044      3800          3579
14         15   2019     2044      1020          1016
15         16   2019     2044      3070          3051
16         17   2019     2044       870           861
17         18   2019     2044      1239          1166
18         19   2019     2044      1480          1277
19         20   2019     2044      1420          1389
20         22   2019     2044       170           170
21         23   2019     2044       840           792
22         24   2019     2044       670           667
23         25   2019     2044     13330         13208
24         26   2019     2044      2033          1998
25         27   2019     2044       170           166
26         28   2019     2044         1             1
27         29   2019     2044      2900          2787
28         30   2019     2044       799           789
29         31   2019     2044        10            10
30         32   2019     2044      4310          4310
31         33   2019     2044       890           858
32         34   2019     2044      1057           951
33         35   2019     2044         1             0
34         36   2019     2044      1720          1625
35         37   2019     2044        19             5
36         38   2019     2044        50            50
37         39   2019     2044       153           148
38         40   2019     2044      1748          1693
39         41   2019     2044       135           129
40         42   2019     2044      2007          1892
41         43   2019     2044        10            10
42         44   2019     2044      1500          1500
43         45   2019     2044        10             7
44         46   2019     2044        12            12
45         48   2019     2044        17             0
46         49   2019     2044       328           328
47         51   2019     2044        35            35
48         52   2019     2044         3             1
49         53   2019     2044       448           442
50         57   2019     2044         1             1
51         58   2019     2044       134           131
52         60   2019     2044       120           120
53         61   2019     2044       194           194
54         62   2019     2044         0             0
55         64   2019     2044      4211          4011